
.App {
display: flex;
align-items: center;
}

@media screen {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input {
  width: 545px;
  height: 172px ;
  overflow-y: scroll;
  max-height: 172px;
  top: 300px;
  position: absolute;
  left: 216px;
  border: 2px gray solid;
  padding: 5px;
}
.textt{
  background-color: white;
  color: black !important;
  text-align: justify;
  text-decoration: none;
  width: 264px;
  height: 460px;
  max-height: 460px;
  font-size: 19px;
  font-weight: 100;
  max-width: 264px;
  top: 69px;
  left: 8px;
  border-radius: 27px;
  position: relative;
  display: block;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.microphone {
  position: absolute;
  display: block;
  color: transparent;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 6px);
  height: 8px;
  width: 15%;
  background-color: rgb(184, 181, 181);
  border-radius: 8px;
  box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
}

.iphone {
  top: 100px ;
  position: absolute;
  width: 304px;
  height: 633px;
  background-color: #D6ECF8;
  left: 881px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 13px white, 0px 0px 0px 19px rgb(184, 181, 181);
}
.iphone::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 7px;
  width: 140px;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.iphone::before {
  top: 0px;
  width: 56%;
  height: 30px;
  background-color: white;
  border-radius: 0px 0px 40px 40px;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.cam {
  left: 3%;
  top: 0px;
  transform: translate(180px, 4px);
  width: 12px;
  height: 12px;
  background-color: rgb(184, 181, 181);
  border-radius: 12px;
  box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
  position: absolute;
  display: block;
  color: transparent;

}
  
.cam::after {
  content: '';
  position: absolute;
  background-color: white;
  width: 8px;
  height: 8px;
  top: 2px;
  left: 2px;
  display: block;
  border-radius: 4px;
}
.span {
  bottom: 50px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: 30px;
  position: absolute;
  display: block;
  color: transparent;
 
}